.nav {
  display: flex;
  min-height: 56px;
  align-items: center;
  background-color: #131722;
  list-style-type: none;
  overflow: hidden;
  border-bottom: 1px solid #2a2e39;
}
.left, .middle, .right {
  flex: 1;
}
.middle {
  text-align: center;
}

.right {
  text-align: right;
}
.left {
  
}
.logo {
  width: 40px;
  height: 40px;
}

.item {
  font-size: 20px;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 22px 25px;
  text-decoration: none;
}
.item:hover {
  color: #007bff;
}
button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.material-symbols-outlined{
  color:grey;
  float: right;
  padding: 20px 40px;
}
.hamburger{
  display: none;
}
@media only screen and (max-width: 800px) {
  .item {
    display: none;
  }
  .notification{
    display: none;
  }
  .hamburger{
    display: block;
  }
}
  