*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
}
.font-link {
  font-family: 'Overpass', sans-serif;
}
.navbar {
  display: flex;
  background-color: #333;
}

ul {
  position: relative;
}
main{
  position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
